[Desktop Entry]
Name=Bíblia Sagrada
Comment=Leitor de Bíblia com interface de livro
Exec=biblia
Icon=com.github.elizeubarbosaabreu.BibliaSacra
Terminal=false
Type=Application
Categories=Utility;Education;
Keywords=biblia;bible;leitor;reader;
